.content {
  display: flex;
  width: 100%;
  flex: 1;
  max-height: 100vh;
  overflow: auto;
  background-color: var(--color-base);
}

.content__container {
  width: 100%;
  padding: 40px 30px;
  flex-direction: column;
}

.content__title {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px;
}

.content__description {
  font-size: 20px;
  font-weight: thin;
  color: var(--color-main);
}

.content_date {
  font-size: 14px;
  font-weight: thin;
  color: var(--color-main);
  margin-bottom: 20px;
}
.content__editor {
  width: 100%;
  height: auto;
  margin-top: 20px;
  background-color: var(--color-main);
}
